@page
@model GymManagementSystem.Pages.Schedule.IndexModel

@{
    ViewData["Title"] = "Schedules";
}

<h2>Schedules</h2>

<p>
    <a asp-page="Create">Create New Schedule</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Day)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].EndTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].ProgramName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Schedule[0].Trainer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Schedule) {
        <tr>
            <td>
                @item.Day
            </td>
            <td>
                @item.StartTime.Value.ToShortTimeString()
            </td>
            <td>
                @item.EndTime.Value.ToShortTimeString()
            </td>
            <td>
                @item.ProgramName
            </td>
            <td>
                @item.Trainer.Name
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
