@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div>
    <div align="middle"><img src="~/images/Cover.png" height="220" width="1150"></div>
    
</div>


<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="2000" >
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox" style="height:400px;width:1150px">
        <div class="item active">
           <img src="~/images/try.jpg" alt="Weight Training" class="img-responsive" height="200" width="1180" class="img-responsive" />
        </div>
        <div class="item">
            <img src="~/images/try2.jpg" alt="Studio Excerices" class="img-responsive" height="200" width="1180" class="img-responsive" />            
        </div>
        <div class="item">
             <img src="~/images/try5.jpg" alt="Gym View" class="img-responsive" height="200" width="1180" class="img-responsive" />             
        </div>
            <div class="item">
            <img src="~/images/try7.jpg" alt="Crossfit" class="img-responsive" height="200" width="1180" class="img-responsive" />            
        </div>

    </div>
</div>
<br />
<br />
<div>
    <p>
        MusclePro has learnt from various traditional and neo fitness models such as HIIT, Yoga, MMA, Endurance Training, Dance, Calisthenics
        and evolved its own brand of exercise sciences based Functional Fitness model. The training methodology is a mix of both functional
        training and weight training used together as the best mix to help attain the client's fitness goals.
    </p>

    <div class="row">
        @*Dashboard*@
        <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-info-sign"></i> Dashboard </h3>
                </div>
                @*Customer stats*@
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">Members Insight</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total Members</td>
                            <td class="text-right">@Model.TotalCustomers</td>
                        </tr>
                        <tr>
                            <td>Male Members</td>
                            <td class="text-right">@Model.MaleCustomers</td>
                        </tr>
                        <tr>
                            <td>Female Members</td>
                            <td class="text-right">@Model.FemaleCustomers</td>
                        </tr>
                        <tr>
                            <td>Yearly Membership Customers</td>
                            <td class="text-right">@Model.CustomersWithYearlyMembership</td>
                        </tr>
                    </tbody>
                </table>

                @*Trainers*@
                <table class="table">
                    <thead>
                        <tr>
                            <th colspan="2">Trainers Insight</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Total Trainers</td>
                            <td class="text-right">@Model.TotalTrainers</td>
                        </tr>
                        <tr>
                            <td>Male Trainers</td>
                            <td class="text-right">@Model.MaleTrainers</td>
                        </tr>
                        <tr>
                            <td>Female Trainers</td>
                            <td class="text-right">@Model.FemaleTrainers</td>
                        </tr>
                        <tr>
                            <td>Trainers more than 5 yrs Exp</td>
                            <td class="text-right">@Model.FivePlusExperienceTrainers</td>
                        </tr>
                        <tr>
                            <td>Training Schedules</td>
                            <td class="text-right">@Model.TotalSchedules</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        @*Trainer's Profile*@
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-list"></i> Trainer's Profiles</h3>
                </div>
                <ul class="list-group">
                    @foreach (var trainer in Model.Trainers)
                    {
                        <li class="list-group-item">
                            <a asp-page="/TrainerProfile" asp-route-id="@trainer.Id">@trainer.Name</a>
                        </li>
                    }
                </ul>
            </div>
        </div>

        @*Other link*@
        <div class="col-md-5">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="glyphicon glyphicon-list"></i> More Info </h3>
                </div>
                <ul class="list-group">
                    <li class="list-group-item">
                        <a asp-page="/ScheduleAsDays">Days Schedule</a>
                    </li>
                    <li class="list-group-item">
                        <a asp-page="/ActiveCustomers">Active Customers</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <p>
        Our specially tailored programs to individual requirements and group sessions helps you build and achieve your fitness goals.We offer a complete holistic approach to fitness that targets all the different aspects of fitness like strength, stamina, endurance,
        flexibility, agility, speed and power, and is undoubtedly, the best way to experience fitness.
    </p>

    <p>
        <strong>So what are you waiting for? Be our member and transform your body to achieve you fitness goals.</strong>
    </p>
</div>